<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Deleção</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Tem certeza que deseja deletar a empresa <span th:text="${empresa.nome}"></span>?</h1>
    <form th:action="@{/empresas/deletar/{id}(id=${empresa.id})}" method="post">
        <button type="submit" class="btn btn-danger">Sim</button>
    </form>
    <a href="/empresas/listar" class="btn btn-cancel">Cancelar</a>
</div>
</body>
</html>
